@import "../../../global/styles/_base";

.category {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &.active{
    > .paper {
      background-color: #00bcd4!important;
    }
  }

  .paper {
    display: flex;
    .main {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;

      .title {
        display: flex;
        align-items: center;
        cursor: pointer;

        .expand {
          width: 48px;
        }
      }
      .actions {
        display: flex;
        height: 48px;
        .edit {

        }
        .remove {

        }
        .add {

        }
      }
    }
  }

  .children {
    padding-left: 50px;
    overflow: hidden;
    &.collapsed{
      height: 0px;
    }
    .category:first-child {
      .paper {
        background-color: transparent !important;
      }
      &.active{
        > .paper {
          background-color: #00bcd4!important;
        }
      }
    }
  }
}