@import "../../../../global/styles/base";

.todo-list {
  @extend .stretch-to-full-container-as-column;

  .todo-progress {

  }

  .content {
    @extend .stretch-to-full-container-as-row;

    .left {
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
      padding: 10px;
      border: 1px solid #cfcfcf;

      .category-list {
        border-top: 1px solid grey;
        padding: 10px 0;
        overflow: auto;
      }
    }

    .right {
      @extend .stretch-to-full-container-as-column;
      border-top: 1px solid #cfcfcf;
      padding: 10px;
      position: relative;
      overflow-x: hidden;

      .item-list {
        border-top: 1px solid grey;
        padding: 10px 0;
        overflow-x: hidden;

        &.item-list-enter {
          opacity: 0;
          &.item-list-enter-active {
            position: absolute !important;
            left: 0;
            right: 0;
            margin: 0 10px !important;
            transition: opacity 300ms cubic-bezier(.5,.5,.5,.5) !important;
            opacity: 1;
          }
        }

        &.item-list-leave {
          &.item-list-leave-active {
            transition: opacity 300ms cubic-bezier(.5,.5,.5,.5) !important;
            opacity: 0;
          }
        }

        > span {
          display: flex;
          flex-direction: column;
          position: relative;
        }
      }
    }
  }
}