@import "../../../global/styles/base";

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  .title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
    height: 42px;
  }

  .actions {
    display: flex;

    .edit {

    }
  }
}