@import "../../../global/styles/base";

.todo-edit{
  @extend .stretch-to-full-container-as-column;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: aquamarine;
  z-index: 2;
  transform: translateX(90%);

  &.open {
    transform: translateX(0%);
  }
}