@import "../../../../../global/styles/base";

.todo-edit {
  @extend .stretch-to-full-container-as-column;
  padding: 20px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: aquamarine;
  z-index: 2;

  animation-duration: 500ms;
  animation-name: slidein;

  &.open {
    transform: translateX(100%);
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

  .spinner-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
}

@keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}